<footer>
    <div class="box-container">
        <div>Flecha</div>
        <nav>
            <ul>
                <li>articles</li>
                <li>books</li>
                <li> events</li>
                <li>reasons</li>
                <li> Tips</li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li> twiter</li>
                <li>instagram</li>
                <li> mastodon.social</li>
            </ul>
        </nav>
        <span>&copy2021</span>
        <span>we components</span>
    </div>
</footer>