<footer class="footer">
    <div class="box-container footer-nav">
        <div>Flecha</div>
        <nav class="nav-links-1">
            <ul class="nav-list-1">
                <li> <a href="https://adalab.es/" class="link-articles">articles </a></li>
                <li><a href="https://adalab.es/" class="link-books">books</a></li>
                <li> <a href="https://adalab.es/" class="link-events">events</a></li>
                <li><a href="https://adalab.es/" class="link-reasons">reasons</a></li>
                <li> <a href="https://adalab.es/" class="link-tips">Tips </a></li>
            </ul>
        </nav>
        <nav class="nav-links-2">
            <ul class="nav-list-2">
                <li> twiter</li>
                <li>instagram</li>
                <li> mastodon.social</li>
            </ul>
        </nav>
        <span>&copy2021</span>
        <span>we components</span>
    </div>
</footer>