<main>
    <section class="main-section">
        <div class="box-container">
            <article class="Window-article">
                <h4 class="win-art-subtitle">Insomnia Tips</h4>
                <h3 class="win-art-title">Looking through a window</h3>

                <p class="p-article">Donec accumsan, nulla ut volutpat pottitor, quam odio tempus felis, al luctus ex
                    diam
                    nec lectus. Vivamus
                    semper sodales rutrum.</p>
                <div class="botton-go">
                    <a href="https://adalab.es/" class="go" target="_blank">go</a>
                </div>
            </article>
        </div>
    </section>


    <section>
        <div class="box-container">
            <div class="reasons">
                <h3 class="reasons-title">3 reasons to purchase</h3>

                <article class="reasons-article">
                    <h4 class="rt">Ut sed metus</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur</p>
                </article>

                <article class="reasons-article">
                    <h4 class="rt">Curabitur ac erat</h4>
                    <p>Mauris mattis urna quis lorem molestie.</p>
                </article>

                <article id="reasons" class="reasons-article">
                    <h4 class="rt">Morbi dictumst</h4>
                    <p>Aliquam in dolor et dolor tincidunt.</p>
                </article>

                <div class="more-reasons-botton"><a href="https://adalab.es/" class="more-reasons-link"
                        target="_blank">More reasons</a>
                </div>
            </div>
        </div>
    </section>
</main>