* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px; }

.code {
  font-size: 16px;
  background: #d8d8d8;
  padding: 0 5px;
  border-radius: 5px; }

.link__adalab:hover {
  background-color: #099d8d;
  color: #fff; }

.link__github:hover {
  background-color: #CCC;
  color: #000; }

.section-2 {
  background-color: #eff9ff;
  font-family: "Roboto", sans-serif; }

.reasons {
  height: 39rem;
  text-align: center;
  font-size: 1.25rem; }
  @media all and (min-width: 768px) {
    .reasons {
      margin: 0px 2.43rem 0 2.43rem;
      height: 24.8rem; } }
  @media all and (min-width: 1200px) {
    .reasons {
      margin: 0px 5.3rem 0 5.3rem;
      height: 26.7rem; } }

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr; }
  @media all and (min-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 6.25rem 12.31rem 6.25rem; } }

.reasons-title {
  margin-top: 1.88rem;
  font-size: 1.75rem;
  text-transform: capitalize;
  font-family: "RobotoSlab"; }
  @media all and (min-width: 768px) {
    .reasons-title {
      grid-column: span 3;
      font-size: 1.88rem;
      text-transform: capitalize; } }
  @media all and (min-width: 1200px) {
    .reasons-title {
      font-size: 2.25rem;
      margin-top: 3.75rem; } }

.reasons-article {
  margin: 0 auto;
  margin-bottom: 3.13rem;
  width: 11.5rem; }
  @media all and (min-width: 768px) {
    .reasons-article {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      width: 80%;
      font-size: 1.25rem;
      line-height: 1.5; } }
  @media all and (min-width: 768px) {
    .reasons-article {
      margin-top: 3.44rem; } }

.rt {
  font-weight: 800;
  font-family: "RobotoSlab";
  font-weight: bold; }
  @media all and (min-width: 768px) {
    .rt {
      font-size: 1.63rem; } }

.more-reasons-botton {
  width: 11.5rem;
  height: 2.8rem;
  margin: 0 auto;
  background-color: #f26002;
  border-radius: 1.4rem;
  line-height: 2.8;
  transition: transform 3s color 2s; }
  @media all and (min-width: 768px) {
    .more-reasons-botton {
      grid-column: span 3;
      width: 13.13rem; } }
  @media all and (min-width: 768px) {
    .more-reasons-botton {
      width: 15.9rem; } }

.more-reasons-botton:hover {
  cursor: pointer;
  background-color: #eff9ff;
  transform: scale(1.5);
  border: solid 0.19rem #f26002;
  line-height: 2.5; }

.more-reasons-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  transition: transform 5s color 2s; }

.more-reasons-link:hover {
  color: #f26002; }

.box-container {
  margin: 0 0.93rem; }

.menu {
  width: 2.75rem;
  height: 2.75rem;
  background-color: #0271bc;
  text-align: center;
  line-height: 3;
  position: fixed;
  top: 0%;
  left: 0%; }

.header {
  background: url(../images/cover.jpg);
  height: 50rem;
  background-size: cover;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff; }
  @media all and (min-width: 768px) {
    .header {
      height: 48rem; } }

.header-title {
  width: 18.13rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  text-align: center;
  line-height: 1.31;
  font-family: "RobotoSlab";
  font-weight: 200;
  margin: 25rem 0.9rem 0 0.9rem; }
  @media all and (min-width: 768px) {
    .header-title {
      width: 43.1rem;
      font-size: 5rem;
      font-weight: bold;
      margin-top: 20.6rem; } }
  @media all and (min-width: 1280px) {
    .header-title {
      font-size: 6.25rem; } }

.header-subtitle {
  text-align: center;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  font-weight: lighter; }
  @media all and (min-width: 768px) {
    .header-subtitle {
      font-size: 1.5rem; } }

.scroll-down {
  width: 3.44rem;
  height: 3.44rem;
  margin-top: 3.75rem;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 4; }

.section-1 {
  height: 23.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif; }
  @media all and (min-width: 768px) {
    .section-1 {
      margin: 0px 2.43rem 0 2.43rem;
      height: 20.6rem; } }
  @media all and (min-width: 1200px) {
    .section-1 {
      margin: 3.75rem 17.19rem;
      height: 18.75rem; } }

.win-art-subtitle {
  margin-top: 1.88rem;
  font-size: 0.88rem;
  color: #8ccbea; }
  @media all and (min-width: 1200px) {
    .win-art-subtitle {
      font-size: 1rem; } }

.win-art-title {
  font-family: "RobotoSlab";
  font-size: 1.88rem;
  text-transform: capitalize; }
  @media all and (min-width: 768px) {
    .win-art-title {
      font-size: 2rem; } }

.p-article {
  margin-top: 0.94rem;
  font-size: 1.13rem;
  line-height: 1.67;
  color: #4a4a4a; }
  @media all and (min-width: 768px) {
    .p-article {
      font-size: 1.25rem; } }

.botton-go {
  height: 2.81rem;
  width: 4.75rem;
  margin-top: 1.88rem;
  text-align: center;
  line-height: 2;
  border: solid 0.19rem #f26002;
  border-radius: 30%;
  transition: transform 3s color 2s; }
  @media all and (min-width: 768px) {
    .botton-go {
      width: 5.69rem; } }
  @media all and (min-width: 1200px) {
    .botton-go {
      width: 10rem; } }

.botton-go:hover {
  cursor: pointer;
  transform: scale(2);
  margin-left: 50px;
  border: solid 0.19rem #eff9ff; }

.go {
  color: #f26002;
  text-transform: capitalize;
  font-size: 1.25rem;
  text-decoration: none; }

.footer {
  height: 29rem;
  background-color: #304268;
  color: #ffffff; }
  @media all and (min-width: 768px) {
    .footer {
      height: 15rem; } }

.ico-arrow {
  background-color: #ffffff;
  width: 3.44rem;
  height: 3.44rem;
  border-radius: 50%;
  text-align: center;
  line-height: 4;
  position: absolute;
  transform: translateY(-1.56rem);
  -webkit-animation: 4s Slidein infinite alternate;
  animation: 4s Slidein infinite alternate; }
  @media all and (min-width: 768px) {
    .ico-arrow {
      position: absolute;
      margin-left: -13.75rem;
      transform: translate(0, -6.25rem);
      -webkit-animation: 8s Slidein infinite alternate;
      animation: 8s Slidein infinite alternate; } }

.ico-arrow:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-align: center;
  line-height: 1.88; }
  @media all and (min-width: 768px) {
    .footer-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-left: 15.6rem; } }

@media all and (min-width: 768px) {
  .nav-links {
    margin-left: -5rem;
    display: flex;
    flex-direction: row;
    align-items: center; } }

.nav-list-1 {
  margin-top: 3.75rem;
  list-style: none;
  text-transform: uppercase; }
  @media all and (min-width: 768px) {
    .nav-list-1 {
      margin-top: 3.12rem;
      text-align: justify; } }

.nav-list-2 {
  margin-top: 1.88rem;
  list-style: none;
  text-transform: uppercase; }
  @media all and (min-width: 768px) {
    .nav-list-2 {
      margin-top: -1.25rem;
      margin-left: 9.4rem;
      text-align: justify; } }

.copy {
  margin-top: 1.88rem;
  font-size: 0.88rem;
  line-height: 2.14; }
  @media all and (min-width: 768px) {
    .copy {
      position: absolute;
      transform: translate(-26.2rem, -3.125rem); } }

.we {
  font-size: 0.88rem; }
  @media all and (min-width: 768px) {
    .we {
      position: absolute;
      transform: translate(-24rem, -0.6rem); } }

.love {
  height: 0.75rem; }

.link-articles:link,
.link-articles:visited,
.link-articles:active {
  text-decoration: none;
  color: #ffffff; }

.link-articles:hover {
  color: #f26002; }

.link-books:link,
.link-books:visited,
.link-books:active {
  text-decoration: none;
  color: #ffffff; }

.link-books:hover {
  color: #f26002; }

.link-events:link,
.link-events:visited,
.link-events:active {
  text-decoration: none;
  color: #ffffff; }

.link-events:hover {
  color: #f26002; }

.link-reasons:link,
.link-reasons:visited,
.link-reasons:active {
  text-decoration: none;
  color: #ffffff; }

.link-reasons:hover {
  color: #f26002; }

.link-tips:link,
.link-tips:visited,
.link-tips:active {
  text-decoration: none;
  color: #ffffff; }

.link-tips:hover {
  color: #f26002; }

.link-twiter:link,
.link-twiter:visited,
.link-twiter:active {
  text-decoration: none;
  color: #ffffff; }

.link-twiter:hover {
  color: #f26002; }

.link-instagram:link,
.link-instagram:visited,
.link-instagram:active {
  text-decoration: none;
  color: #ffffff; }

.link-instagram:hover {
  color: #f26002; }

.link-mastodon-social:link,
.link-mastodon-social:visited,
.link-mastodon-social:active {
  text-decoration: none;
  color: #ffffff; }

.link-mastodon-social:hover {
  color: #f26002; }

@-webkit-keyframes Slidein {
  from {
    margin-left: 100%; }
  50% {
    margin-left: 0%; }
  to {
    margin-right: 100%; } }

@keyframes Slidein {
  from {
    margin-left: 100%; }
  50% {
    margin-left: 0%; }
  to {
    margin-right: 100%; } }

/*# sourceMappingURL=main.css.map */
