.main-section .box-container {
  height: 376px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.win-art-subtitle {
  margin-top: 30px;
  font-family: "Roboto";
  font-size: 14px;
  color: #8ccbea;
}
.win-art-title {
  margin-top: 1px;
  font-family: "robotoSlab";
  font-size: 30px;
  text-transform: capitalize;
}
.p-article {
  margin-top: 15px;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.67;
  color: #4a4a4a;
}
.botton-go {
  margin-top: 30px;
  text-align: center;
  height: 45px;
  width: 76px;
  border: solid 3px #f26002;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.go {
  color: #f26002;
  text-transform: capitalize;
  font-size: 20px;
  text-decoration: none;
}

.reasons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 125px 125px 125px 125px 125px;
}
