.section-2 {
  background-color: $background-color-medium;
  font-family: $font-main;
}
.reasons {
  height: 39rem;
  text-align: center;
  font-size: 1.25rem;
  @media all and(min-width:768px) {
    margin: 0px 2.43rem 0 2.43rem;
    height: 24.8rem;
  }
  @media all and(min-width:1200px) {
    margin: 0px 5.3rem 0 5.3rem;
    height: 26.7rem;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  @media all and(min-width:768px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 6.25rem 12.31rem 6.25rem;
  }
}
.reasons-title {
  margin-top: 1.88rem;
  font-size: 1.75rem;
  text-transform: capitalize;
  font-family: $secondary-font;
  @media all and(min-width:768px) {
    grid-column: span 3;
    font-size: 1.88rem;
  }
  @media all and(min-width:1200px) {
    font-size: 2.25rem;
    margin-top: 3.75rem;
  }
}
.reasons-article {
  margin: 0 auto;
  margin-bottom: 3.13rem;
  width: 11.5rem;
  @media all and(min-width:768px) {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  @media all and(min-width:768px) {
    margin-top: 3.44rem;
  }
}
.rt {
  font-weight: 800;
  font-family: $secondary-font;
  font-weight: bold;
  @media all and(min-width:768px) {
    font-size: 1.63rem;
  }
}

.more-reasons-botton {
  width: 11.5rem;
  height: 2.8rem;
  margin: 0 auto;
  background-color: $links-color;
  border-radius: 1.4rem;
  line-height: 2.8;
  transition: transform 3s color 2s;
  @media all and(min-width:768px) {
    grid-column: span 3;
    width: 13.13rem;
  }
  @media all and(min-width:768px) {
    width: 15.9rem;
  }
}
.more-reasons-botton:hover {
  cursor: pointer;
  background-color: $background-color-medium;
  transform: scale(1.5);
  border: solid 0.19rem $links-color;
  line-height: 2.5;
}
.more-reasons-link {
  text-decoration: none;
  color: $font-color;
  font-family: $font-main;
  transition: transform 5s color 2s;
}
.more-reasons-link:hover {
  color: $links-color;
}
